<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.mesmerprism.rustyhostess.t">
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />

    <application
        android:allowBackup="false"
        android:usesCleartextTraffic="false"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:label="Rusty Hostess T">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="io.github.mesmerprism.rustyhostess.t.RUN_CAPTURE" />
                <action android:name="io.github.mesmerprism.rustyhostess.t.RUN_REPLAY" />
                <action android:name="io.github.mesmerprism.rustyhostess.t.RUN_PMB_REPLAY" />
                <action android:name="io.github.mesmerprism.rustyhostess.t.RUN_PMB_CONTROLLER_PREFLIGHT" />
                <action android:name="io.github.mesmerprism.rustyhostess.t.RUN_PMB_SIMULATED_LIVE" />
                <action android:name="io.github.mesmerprism.rustyhostess.t.RUN_PMB_PHYSICAL_LIVE" />
                <action android:name="io.github.mesmerprism.rustyhostess.t.OBSERVE_BROKER_TELEMETRY" />
                <action android:name="io.github.mesmerprism.rustyhostess.t.RUN_QCL050_RFCOMM" />
                <action android:name="io.github.mesmerprism.rustyhostess.t.RUN_QCL051_BLE_GATT" />
                <action android:name="io.github.mesmerprism.rustyhostess.t.RUN_QCL083_OSC" />
                <action android:name="io.github.mesmerprism.rustyhostess.t.RENDER_TELEMETRY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service
            android:name=".PmbPhysicalLiveService"
            android:exported="true"
            android:foregroundServiceType="dataSync">
            <intent-filter>
                <action android:name="io.github.mesmerprism.rustyhostess.t.RUN_PMB_PHYSICAL_LIVE_BACKGROUND" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>
</manifest>
